{% extends 'base.html' %}

{% block title %} AUDIOS | CREATE {% endblock %}

{% block content %}
<h1>Registro de audios</h1>
<form action="{{url_for('audio.create')}}" method="POST">
    <div class="mb-3 bg-white-glass">
        <label>Titulo</label>
        <select name="id_material" class="form-control" required>
            <option value="">Seleccione un titulo:</option>
            {% for material in materiales %}
                <option value="{{material.id_material}}">{{material.titulo}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 bg-white-glass">
        <label for="" class="form-label">Duracion</label>
        <input type="text" class="form-control" name="duracion" required>
    </div>
    <div class="mb-3 bg-white-glass">
        <label for="" class="form-label">Formato</label>
        <input type="text" class="form-control" name="formato" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar audio</button>
</form>


{% endblock %}