{% extends 'base.html' %}

{%block title%} LIBROS {% endblock %}

{% block content %}

<h1>Registro de proyectos</h1>
<form action="{{url_for('proyecto.create')}}" method="POST">
    <div class="mb-3 bg-white-glass">
        <label>Titulo</label>
        <select name="id_material" class="form-control" required>
            <option value="">Seleccione un titulo:</option>
            {% for material in materiales %}
                <option value="{{material.id_material}}">{{material.titulo}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 bg-white-glass">
        <label for="" class="form-label">Autor</label>
        <input type="text" class="form-control" name="autor_est" required>
    </div>
    <div class="mb-3 bg-white-glass">
        <label for="" class="form-label">Gestión</label>
        <input type="number" class="form-control" name="anio_defensa" required>
    </div>
    <div class="mb-3 bg-white-glass">
        <label for="" class="form-label">Modalidad</label>
        <input type="text" class="form-control" name="modalidad" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar proyecto</button>
</form>
{% endblock %}
