{% extends 'base.html' %}

{% block title %} USUARIOS | CREATE {% endblock %}

{% block content %}

<h2>Nuevo Préstamo</h2>
<form method="post">
    <div class="mb-3 bg-white-glass">
        <label>Usuario:</label>
        <select name="id_usuario" class="form-control" required>
            {% for u in usuarios %}
            <option value="{{ u.id }}">{{ u.nombre }} {{ u.apellido }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3 bg-white-glass">
        <label>Bibliotecario:</label>
        <select name="id_bibliotecario" class="form-control" required>
            {% for b in usuarios %}
            <option value="{{ b.id }}">{{ b.nombre }} {{ b.apellido }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3 bg-white-glass">
        <label>Material:</label>
        <select name="id_material" class="form-control" required>
            {% for m in materiales %}
            <option value="{{ m.id_material }}">{{ m.titulo }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3 bg-white-glass">
        <label>Fecha de Préstamo:</label>
        <input type="date" name="fecha_prestamo" class="form-control" required>
    </div>

    <div class="mb-3 bg-white-glass">
        <label>Fecha de Devolución:</label>
        <input type="date" name="fecha_devolucion" class="form-control" required>
    </div>

    <div class="mb-3 bg-white-glass">
        <label>Estado:</label>
        <input type="text" name="estado" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{{ url_for('prestamo.index') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
